@media screen and (min-width: 600px) {
  p {
    font-size: 1.1vw;
  }
  h1 {
    font-size: 1.6vw;
  }
  h2 {
    font-size: 1.8vw;
  }

  li {
    font-size: 1.3vw;
    list-style: none;
  }
  .movieDetailsMainContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    height: 40vw;
    background-size: cover;
  }

  .movieDetailDescriptionContainer {
    color: white;
    display: flex;
    /* flex-wrap: wrap; */
    width: 80%;
    justify-content: space-around;
    height: 30vh;
    background-color: black;
    width: 100vw;
    box-shadow: 0px 0px 444px 0px #757373;
  }

  .playButton {
    background-color: white;
    color: black;
    padding: 0.8vw;
    border-radius: 10px;
    border: none;
    width: 9vw;
    font-size: 1.5vw;
  }

  .mainMovieDescriptionContainer {
    margin-left: 10vw;
    margin-bottom: 5vh;
    width: 40vw;
  }
  .movieDescriptionHeading {
    font-size: 48px;
  }

  .similarMoviesContainer {
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 10vw;
    background-color: black;
  }

  .SimilarMoviesDisplayContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .similarMovieImage {
    height: 25vw;
    width: 25vw;
    padding: 1vw;
    border-radius: 15px;
  }

  .adult {
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
  }
}

@media screen and (min-width: 300px) and (max-width: 599px) {
  p {
    font-size: 1.7vw;
  }
  h1 {
    font-size: 2.5vw;
  }
  h2 {
    font-size: 2.8vw;
  }

  li {
    font-size: 1.7vw;
    list-style: none;
  }
  .movieDetailsMainContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    height: 59vw;
    background-size: cover;
  }

  .movieDetailDescriptionContainer {
    color: white;
    display: flex;
    /* flex-wrap: wrap; */
    width: 80%;
    justify-content: space-around;
    height: 20vh;
    background-color: black;
    width: 100vw;
  }

  .playButton {
    background-color: white;
    color: black;
    padding: 1vw;
    border-radius: 10px;
    border: none;
    font-size: 1.7vw;
  }

  .mainMovieDescriptionContainer {
    margin-left: 10vw;
    margin-bottom: 5vh;
    width: 60vw;
  }
  .movieDescriptionHeading {
    font-size: 28px;
  }

  .similarMoviesContainer {
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 10vw;
    background-color: black;
  }

  .SimilarMoviesDisplayContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .similarMovieImage {
    height: 25vw;
    width: 25vw;
    padding: 1vw;
    border-radius: 15px;
  }

  .adult {
    border: 1px solid white;
    padding: 0.8vw;
    border-radius: 5px;
  }
}

@media screen and (max-width: 299px) {
  p {
    font-size: 2vw;
  }
  h1 {
    font-size: 3.8vw;
  }
  h2 {
    font-size: 2.8vw;
  }
  li {
    font-size: 2vw;
    list-style: none;
  }
  .movieDetailsMainContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    height: 60vw;
    background-size: cover;
  }

  .movieDetailDescriptionContainer {
    color: white;
    display: flex;
    /* flex-wrap: wrap; */
    width: 80%;
    justify-content: space-around;
    height: 20vh;
    background-color: black;
    width: 100vw;
  }

  .playButton {
    background-color: white;
    color: black;
    padding: 0.8vw;
    border-radius: 10px;
    border: none;
    font-size: 2vw;
    width: 6vw;
  }

  .mainMovieDescriptionContainer {
    margin-left: 10vw;
    margin-bottom: 5vh;
    width: 60vw;
  }

  .similarMoviesContainer {
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 10vw;
    background-color: black;
  }

  .SimilarMoviesDisplayContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .similarMovieImage {
    height: 10vh;
    width: 20vw;
    padding: 1vw;
    border-radius: 15px;
  }

  .adult {
    border: 1px solid white;
    padding: 0.7vw;
    border-radius: 5px;
  }
}

.loadingViewContainer {
  display: flex;
  height: 100vh;
  background-color: black;
  justify-content: center;
  align-items: center;
}
