.link {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 600px) {
  .headerContainer {
    width: 100%;
    height: 5vw;
    background-color: #0000003f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 4vh;
    margin-top: 10px;
  }

  .hambergerIcon {
    display: none;
  }

  .headerLogo {
    height: 3vw;
    width: 10vw;
    padding-left: 2vw;
  }

  .headerLogoContainer {
    display: flex;
    width: 20vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .avatarContainer {
    display: flex;
    width: 40vw;
    align-items: center;
    padding-right: 1vw;
  }

  .magnifierIcon {
    font-size: 1.5vw;
  }

  .avatarImage {
    height: 3vw;
    width: 3vw;
    background-color: white;
    margin-left: 5vh;
    border-radius: 500px;
  }
  .searchBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 20vw;
  }
  .searchInputEl {
    padding: 0.5vw;
    width: 15vw;
    margin-right: 1vw;
    border-radius: 2vw;
    border: 1px solid white;
    background-color: #3636365d;
    color: white;
    cursor: text;
  }
  .searchInputEl:focus {
    outline: none;
  }
  .lg {
    font-size: 1.3vw;
    margin-left: 0.7vw;
  }

  .lg:hover {
    color: blueviolet;
    text-decoration: underline;
  }

  .dropdownButton {
    background-color: transparent;
    border: none;
  }
  .avatarImageContainer {
    position: relative;
    display: inline-block;
  }
  .dropdownContent {
    color: black;
    background-color: #282626;
    display: none;
    position: absolute;
    top: 6vh;
    padding-left: 12px;
    width: 15vw;
    height: 20vh;
    box-shadow: 0px 0px 16px 1px #252525c9;
    z-index: 1;
    border-radius: 15px;
  }
  .dropdown-content link {
    color: black;
    padding: 6px;
    text-decoration: none;
    display: block;
    font-size: 2vh;
    background-color: silver;
  }
  .avatarImageContainer:hover .dropdownContent {
    display: block;
  }
  .dropdownContent p:hover {
    font-size: larger;
    background-color: gray;
    border-radius: 15px;
    padding: 0.2vw;
    box-shadow: 0px 0px 16px 1px #5c5b5bc9;
  }
}

@media screen and (max-width: 599px) {
  .headerContainer {
    width: 100vw;
    height: 10vh;
    background-color: #0000007b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
  }

  .lg {
    display: none;
  }

  .headerLogo {
    height: 5vh;
    width: 25vw;
  }

  .headerLogoContainer {
    display: flex;
    width: 40vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .avatarContainer {
    display: flex;
    width: 40vw;
    justify-content: space-around;
    align-items: center;
    padding-right: 3vw;
  }

  .magnifierIcon {
    font-size: 4vw;
  }

  .avatarImage {
    height: 60%;
    width: 10vw;
    background-color: white;
    margin-left: 5vh;
    border-radius: 500px;
  }
  .avatarImageContainer {
    display: none;
    position: relative;
  }

  .dropdownButton {
    background-color: transparent;
    border: none;
  }

  .searchBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 30vw;
  }
  .searchInputEl {
    padding: 1vw;
    width: 25vw;
    margin-right: 1vw;
    border-radius: 2vw;
    border: 1px solid white;
    background-color: #3636365d;
    color: white;
    cursor: text;
  }
  .searchInputEl:focus {
    outline: none;
  }
  .hambergerIcon {
    padding-left: 2vw;
    position: relative;
  }
  .hambergerDropdown {
    background-color: #282626b8;
    color: white;
    padding: 5vw;
    right: 0vw;
    display: none;
    position: absolute;
    border-radius: 10px;
  }

  .hambergerIcon:hover .hambergerDropdown {
    display: block;
  }

  .logoutBtn {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 3vw;
  }
}
