.link {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 600px) {
  .headerContainer {
    width: 100%;
    height: 15vh;
    background-color: #0000003f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 4vh;
    margin-top: 10px;
  }

  .hambergerIcon {
    display: none;
  }

  .headerLogo {
    height: 10vh;
    width: 10vw;
    padding-left: 2vw;
  }

  .headerLogoContainer {
    display: flex;
    width: 30vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .avatarContainer {
    display: flex;
    width: 40vw;
    align-items: center;
    padding-right: 2vw;
  }

  .magnifierIcon {
    font-size: 2vw;
  }

  .avatarImage {
    height: 80%;
    width: 5vw;
    background-color: white;
    margin-left: 5vh;
    border-radius: 500px;
  }
  .searchBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 20vw;
  }
  .searchInputEl {
    padding: 1vh;
    width: 15vw;
    margin-right: 1vw;
    border-radius: 2vw;
    border: 1px solid white;
    background-color: #3636365d;
    color: white;
    cursor: text;
  }
  .searchInputEl:focus {
    outline: none;
  }
}

@media screen and (max-width: 599px) {
  .headerContainer {
    width: 100vw;
    height: 10vh;
    background-color: #0000007b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
  }

  .lg {
    display: none;
  }

  .headerLogo {
    height: 5vh;
    width: 30vw;
  }

  .headerLogoContainer {
    display: flex;
    width: 40vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .avatarContainer {
    display: flex;
    width: 40vw;
    justify-content: space-around;
    align-items: center;
    border: 1px solid blueviolet;
    padding-right: 3vw;
  }

  .magnifierIcon {
    font-size: 4vw;
  }

  .avatarImage {
    height: 60%;
    width: 10vw;
    background-color: white;
    margin-left: 5vh;
    border-radius: 500px;
  }
  .avatarImageContainer {
    display: none;
  }
  .searchBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 30vw;
  }
  .searchInputEl {
    padding: 1vw;
    width: 25vw;
    margin-right: 1vw;
    border-radius: 2vw;
    border: 1px solid white;
    background-color: #3636365d;
    color: white;
    cursor: text;
  }
  .searchInputEl:focus {
    outline: none;
  }
}
